<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PinTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <PinTools.Properties.Settings>
            <setting name="UltraVPPath" serializeAs="String">
                <value>C:\Pinball\HyperPin\UltraVP</value>
            </setting>
            <setting name="VPTablePath" serializeAs="String">
                <value>C:\Pinball\Visual Pinball\Tables</value>
            </setting>
            <setting name="VPBackglassImagePath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Visual Pinball\Backglass Images</value>
            </setting>
            <setting name="VPTableImagePath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Visual Pinball\Table Images</value>
            </setting>
            <setting name="VPWheelImagePath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Visual Pinball\Wheel Images</value>
            </setting>
            <setting name="FPTablePath" serializeAs="String">
                <value>C:\Pinball\Future Pinball\Tables</value>
            </setting>
            <setting name="FPBackglassImagePath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Future Pinball\Backglass Images</value>
            </setting>
            <setting name="FPTableImagePath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Future Pinball\Table Images</value>
            </setting>
            <setting name="FPWheelImagePath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Future Pinball\Wheel Images</value>
            </setting>
            <setting name="FPTableVideoPath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Future Pinball\Table Videos</value>
            </setting>
            <setting name="VPTableVideoPath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Media\Visual Pinball\Table Videos</value>
            </setting>
            <setting name="FPTableExtension" serializeAs="String">
                <value>.fpt</value>
            </setting>
            <setting name="VPTableExtension" serializeAs="String">
                <value>.vpt</value>
            </setting>
            <setting name="VideoExtension" serializeAs="String">
                <value>.f4v</value>
            </setting>
            <setting name="ImageExtension" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="UltraVPExtension" serializeAs="String">
                <value>.uvp</value>
            </setting>
            <setting name="TableVideoRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPDBPath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Databases\Future Pinball\Future Pinball.xml</value>
            </setting>
            <setting name="VPDBPath" serializeAs="String">
                <value>C:\Pinball\HyperPin\Databases\Visual Pinball\Visual Pinball.xml</value>
            </setting>
            <setting name="UltraVPRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TableImageRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackglassImageRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WheelImageRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </PinTools.Properties.Settings>
    </userSettings>
</configuration>
